h3, h1 {
  padding-top: 50px;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1B2631;
    color: white;
    text-align: center;
} 

